<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 px-0 wow animate__fadeIn">
                <h2 style="display: none"><%=data.main.header%></h2>
                <!--TODO: Fallback for IE-->
                <div class="d-none d-lg-block about__item">
<!--                    <%- require('svg-inline-loader!./about-lg.svg') %>-->
                    <%- require ('ejs-webpack-loader!./about-lg.ejs')({data: data}) %>
                </div>
                <div class="d-none d-md-block d-lg-none about__item">
                    <%- require ('ejs-webpack-loader!./about-md.ejs')({data: data}) %>
                </div>
                <div class="d-block d-md-none about__item">
                    <%- require ('ejs-webpack-loader!./about-sm.ejs')({data: data}) %>
                </div>
            </div>
        </div>
    </div>
</section>

