<section class="tech" id="tech">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="tech__header wow animate__fadeInDown"><%-data.header%></h2>
            </div>
            <div class="col-lg-4 ">
                <article class="tech__item">
                    <img class="tech__item__icon wow animate__zoomIn" src="/icons/client.svg" alt="client">
                    <h3 class="tech__item__header wow animate__fadeInDown"><%-data.item1.header%></h3>
                    <p class="tech__item__text wow animate__fadeInDown"><%-data.item1.text%></p>
                </article>
            </div>
            <div class="col-lg-4 mt-5 mt-lg-0">
                <article class="tech__item animate__delay-md-1s">
                    <img class="tech__item__icon wow animate__zoomIn animate__delay-md-1s" src="/icons/server.svg" alt="client">
                    <h3 class="tech__item__header wow animate__fadeInDown animate__delay-md-1s"><%-data.item2.header%></h3>
                    <p class="tech__item__text wow animate__fadeInDown animate__delay-md-1s"><%-data.item2.text%></p>
                </article>
            </div>
            <div class="col-lg-4 mt-5 mt-lg-0">
                <article class="tech__item animate__delay-md-2s">
                    <img class="tech__item__icon wow animate__zoomIn animate__delay-md-2s" src="/icons/db.svg" alt="client">
                    <h3 class="tech__item__header wow animate__fadeInDown animate__delay-md-2s"><%-data.item3.header%></h3>
                    <p class="tech__item__text wow animate__fadeInDown animate__delay-md-2s"><%-data.item3.text%></p>
                </article>
            </div>
        </div>
    </div>
</section>