<section class="what_we_developed">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 text-center">
                <h2 class="what_we_developed__header wow animate__fadeInDown"><%-data.header%></h2>
            </div>
            <div class="col-12">
                <article class="what_we_developed__item wow animate__fadeIn ">
                    <h3 class="what_we_developed__item__header"><%-data.item1.header%></h3>
                    <p class="what_we_developed__item__description"><%-data.item1.text%></p>
                    <picture id="item1" class="what_we_developed__item__poster">
                        <img src="/images/h2s.png" alt="help2sale" class="img-fluid">
                    </picture>
                </article>
                <article class="what_we_developed__item wow animate__fadeIn ">
                    <h3 class="what_we_developed__item__header"><%-data.item2.header%></h3>
                    <p class="what_we_developed__item__description"><%-data.item2.text%></p>
                    <picture id="item2" class="what_we_developed__item__poster">
                        <img src="/images/vita.png" alt="help2sale" class="img-fluid">
                    </picture>
                </article>
                <article class="what_we_developed__item wow animate__fadeIn ">
                    <h3 class="what_we_developed__item__header"><%-data.item3.header%></h3>
                    <p class="what_we_developed__item__description"><%-data.item3.text%></p>
                    <picture id="item3" class="what_we_developed__item__poster">
                        <img src="/images/buildar.png" alt="help2sale" class="img-fluid">
                    </picture>
                </article>
            </div>
        </div>
    </div>

</section>