<section class="how_we_work" id="work-steps">
    <div class="container px-4 px-md-3">
        <div class="row mb-5">
            <div class="col-12">
                <h2 class="how_we_work__header wow animate__fadeInRight"><%-data.header%></h2>
            </div>
            <div class="col-md-10 col-lg-6 mt-4">
                <article class="how_we_work__item wow animate__fadeInDown">
                    <div class="row">
                        <div class="col-auto col-sm-3 ml-3 ml-sm-0">
                            <p style="margin-left: 14px" class="how_we_work__item__number">1</p>
                        </div>
                        <div class="col-auto col-sm-2 mt-sm-2 pl-sm-0 pl-md-0 pl-lg-3">
                            <img class="how_we_work__item__icon" src="/icons/1.svg" alt="">
                        </div>
                        <div class="col-sm-7 mt-sm-2">
                            <h3 class="how_we_work__item__header"><%-data.item1.header%></h3>
                            <p class="how_we_work__item__text"><%-data.item1.text%></p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-10 col-lg-7 offset-lg-5 mt-4">
                <article class="how_we_work__item wow animate__fadeInDown">
                    <div class="row">
                        <div class="col-auto col-sm-3 ml-3 ml-sm-0">
                            <p class="how_we_work__item__number">2</p>
                        </div>
                        <div class="col-auto col-sm-2 mt-sm-2 pl-sm-0 pl-md-0 pl-lg-3">
                            <img class="how_we_work__item__icon" src="/icons/2.svg" alt="">
                        </div>
                        <div class="col-sm-7 mt-sm-2">
                            <h3 class="how_we_work__item__header"><%-data.item2.header%></h3>
                            <p class="how_we_work__item__text"><%-data.item2.text%></p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-10 col-lg-6 mt-4">
                <article class="how_we_work__item wow animate__fadeInDown">
                    <div class="row">
                        <div class="col-auto col-sm-3 ml-3 ml-sm-0">
                            <p  class="how_we_work__item__number">3</p>
                        </div>
                        <div class="col-auto col-sm-2 mt-sm-2 pl-sm-0 pl-md-0 pl-lg-3">
                            <img class="how_we_work__item__icon" src="/icons/3.svg" alt="">
                        </div>
                        <div class="col-sm-7 mt-sm-2">
                            <h3 class="how_we_work__item__header"><%-data.item3.header%></h3>
                            <p class="how_we_work__item__text"><%-data.item3.text%></p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-10 col-lg-7 offset-lg-5 mt-4">
                <article class="how_we_work__item wow animate__fadeInDown">
                    <div class="row">
                        <div class="col-auto col-sm-3 ml-3 ml-sm-0">
                            <p class="how_we_work__item__number">4</p>
                        </div>
                        <div class="col-auto col-sm-2 mt-sm-2 pl-sm-0 pl-md-0 pl-lg-3">
                            <img class="how_we_work__item__icon" src="/icons/4.svg" alt="">
                        </div>
                        <div class="col-sm-7 mt-sm-2">
                            <h3 class="how_we_work__item__header"><%-data.item4.header%></h3>
                            <p class="how_we_work__item__text"><%-data.item4.text%></p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-10 col-lg-6 mt-4">
                <article class="how_we_work__item wow animate__fadeInDown">
                    <div class="row">
                        <div class="col-auto col-sm-3 ml-3 ml-sm-0">
                            <p  class="how_we_work__item__number">5</p>
                        </div>
                        <div class="col-auto col-sm-2 mt-sm-2 pl-sm-0 pl-md-0 pl-lg-3">
                            <img class="how_we_work__item__icon" src="/icons/5.svg" alt="">
                        </div>
                        <div class="col-sm-7 mt-sm-2">
                            <h3 class="how_we_work__item__header"><%-data.item5.header%></h3>
                            <p class="how_we_work__item__text"><%-data.item5.text%></p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>

</section>